p {
  margin-bottom: 0em;
}

a {
  color: #f05138;
}

.header {
  margin-bottom: 2em; 
  margin-top: 1em;
}

.menu {
  margin-bottom: 2em; 
  margin-top: 2em;
}

.poem {
  margin-bottom: 10em;
  margin-top: 2em;
}

.poem .metadata {
  margin-bottom: 1em; 
}

.logo {
  max-width: 90%;
}

h1, h2, h3, h4, h5, h6, p, a, div {
  font-family: "Lato";
}