---
layout: layout
title: Swift poetry
---

{% include header.html %} 
{% include menu.html %}

<div class="poems">
  {% for post in site.posts %}
    <div class="row poem">

      <div class="small-10 small-offset-1 large-offset-0 large-2 text-right column">

        <div class="row metadata align-middle">
          <div class="small-6 large-12 column">
            <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
          </div>
          <div class="small-4 large-12 text-left large-text-right column">
            <div class="row align-middle">
              <div class="small-12 column">
                <p>{{ site.data.authors[post.author].display_name }}</p>
              </div>
              <div class="small-12 column">
                <p>{{ post.date | date: "%Y-%m-%d" }}</p>
              </div>
            </div>
          </div>
          <div class="small-2 large-12 text-left large-text-right column">
            <div class="row">
              {% assign playgroundSize = post.playground|size %}
              {% if playgroundSize > 0 %}
              <div class="small-12 column">
                <p><a href="/static/playgrounds/{{ post.playground }}">Playground</a></p>
              </div>
              {% endif %}
              {% assign licenceSize = post.licence|size %}
              {% if licenceSize > 0 %}
              <div class="small-12 column">
                <p><a href="/licences/#{{ post.licence }}">Licence</a></p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>

      </div>
      <div class="small-12 large-10 column">
          {{ post.content }}
        </div>
    </div>
  {% endfor %}
</div>

{% include footer.html %}