---
layout: layout
title: Swift poetry
---

{% include header.html %} 
{% include menu.html %}

<div class="poems">
  {% for post in site.posts %}
    <div class="row poem">
      <div class="small-10 small-offset-1 large-offset-0 large-2 text-center large-text-right column">
        <div class="row">
          <div class="small-12">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </div>
          <div class="small-12">
            {{ site.data.authors[post.author].display_name }}
          </div>
          <div class="small-12">
            {{ post.date | date: "%Y-%m-%d" }}
          </div>
        </div>
      </div>
      <div class="small-12 large-10 column">
          {{ post.content }}
        </div>
    </div>
  {% endfor %}
</div>

{% include footer.html %}