---
layout: layout
title: Poems
---

<div class="row">
  <div class="small-12 column">
    <h1>Poems</h1>
  </div>
</div>

{% for post in site.posts %}
<div class="row align-middle poem-description">
  <div class="small-6 column">
    <h5>
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h5>
  </div>
  <div class="small-3 column">
    <div class="row">
      <div class="small-12 column">
          <p>{{ site.data.authors[post.author].display_name }}</p>
      </div>
      <div class="small-12 column">
        <p>{{ post.date | date: "%Y-%m-%d" }}</p>
      </div>
    </div>
  </div>
  <div class="small-3 column">
    <div class="row">
      {% assign playgroundSize = post.playground|size %}
      {% if playgroundSize > 0 %}
      <div class="small-12 column">
        <p><a href="/static/playgrounds/{{ post.playground }}">Playground</a></p>
      </div>
      {% endif %}
      {% assign licenceSize = post.licence|size %}
      {% if licenceSize > 0 %}
      <div class="small-12 column">
        <p><a href="/licences/#{{ post.licence }}">Licence</a></p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
