<div class="menu">
  <div class="row">
    <div class="small-6 medium-4 large-2">
      <h4>What is Swift poetry?</h4>
    </div>
    <div class="small-6 medium-4 large-2">
      <h4>Poems</h4>
    </div>
    <div class="small-6 medium-4 large-2">
      <h4>Authors</h4>
    </div>
    <div class="small-6 medium-4 large-2">
      <h4>Playground book</h4>
    </div>
    <div class="small-6 medium-4 large-2">
      <h4>Can I add my poem?</h4>
    </div>
    <div class="small-6 medium-4 large-2">
      <h4>Who are you?</h4>
    </div>
  </div>
</div>
