

<div class="menu">
  <div class="row text-center align-middle">
    <div class="small-6 medium-4 large-2 columns button">
      <h5>
        <a href="/"
          {% if include.underline_latest %}
           class="underline"
          {% endif %}
        >
          Latest
        </a>
      </h5>
    </div>
    <div class="small-6 medium-4 large-2 columns button">
      <h5>
        <a href="/about/"
          {% if include.underline_about %}
           class="underline"
          {% endif %}
        >
          What&nbsp;is Swift&nbsp;poetry?
        </a>
      </h5>
    </div>
    <div class="small-6 medium-4 large-2 columns button">
      <h5>
        <a href="/poems/"
          {% if include.underline_poems %}
           class="underline"
          {% endif %}
        >
          All poems
        </a>
      </h5>
    </div>
    <div class="small-6 medium-4 large-2 columns button">
      <h5>
        <a href="/playgrounds/"
          {% if include.underline_playgrounds %}
           class="underline"
          {% endif %}
        >
          Playgrounds
        </a>
      </h5>
    </div>
    <div class="small-6 medium-4 large-2 columns button">
      <h5>
        <a href="/contribute/"
          {% if include.underline_contribute %}
           class="underline"
          {% endif %}
        >
          Contribute
        </a>
      </h5>
    </div>
    <div class="small-6 medium-4 large-2 columns button">
      <h5>
        <a href="/contact/"
          {% if include.underline_contact %}
           class="underline"
          {% endif %}
        >
          Contact
        </a>
      </h5>
    </div>
  </div>
</div>
