---
layout: layout
title: What is Swift poetry?
---

{% include header.html %}
{% include menu.html underline_about=true %}

<div class="row">
  <div class="small-12 medium-10 medium-offset-1 column">
    <h1>What is Swift poetry?</h1>
    <p>It&#39;s poetry written in the Swift language.</p>
    <p>But can you write poetry in the programming language?</p>
    <p>The way I see it, the programming languages are just like human languages. They consist of words and expressions that carry meaning. They can be used to express emotions, thoughts, ideas and personalities as well as business domains or computational models.</p>
    <p>They can be used to write poetry.</p>
    <p>The difference is, they are designed for two types of readers, not only one. It&#39;s both humans and machines. They can be used to communicate with another human beings. But they also compile and execute.</p>
    <p>So the poetry has one more level to explore: what the code means and what the code does. It makes for even more fascinating medium.</p>
    <p>Please see more examples of code poetry here:</p>
    <ul>
      <li><a href="http://code-poetry.com">./code --poetry</a></li>
      <li><a href="http://code-poems.com">code {poems}</a></li>
      <li><a href="http://sourcecodepoetry.com">Source Code Poetry Competition</a></li>
      <li><a href="https://codepoetry.at/eng">Code Poetry Slam Vienna</a></li>
    </ul>
  </div>
</div>

{% include footer.html %}
