---
layout: layout
---

{% include header.html %} 
{% include menu.html %}

<div class="row">
    <div class="small-12 large-3">
        <div class="row">
            <div class="small-12">
                <a href="{{ page.url }}">{{ page.title }}</a>
            </div>
            <div class="small-12">
                {{ page.author }}
            </div>
            <div class="small-12">
                {{ page.date | date: "%Y-%m-%d" }}
            </div>
        </div>
    </div>
    <div class="small-12 large-9">
        {{ content }}
    </div>
</div>