---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="google-site-verification" content="VDo0ZSKxndNS06LM4Rtkv9twA_TsZITYOB1qRv3xE5A" />
        <!-- <meta name="og:site_name" content="swiftpoetry.com"/> -->
        <link rel="canonical" href="https://swiftpoetry.com"/>
        <!-- <meta name="twitter:url" content="https://swiftpoetry.com"/> -->
        <!-- <meta name="og:url" content="https://swiftpoetry.com"/> -->
        <title>{{ page.title }} | swiftpoetry.com</title>
        <!-- <meta name="twitter:title" content="Welcome to SwiftpoetryCom! | swiftpoetry.com"/> -->
        <!-- <meta name="og:title" content="Welcome to SwiftpoetryCom! | swiftpoetry.com"/> -->
        <!-- <meta name="description" content="A description of swiftpoetry.com"/> -->
        <!-- <meta name="twitter:description" content="A description of swiftpoetry.com"/> -->
        <!-- <meta name="og:description" content="A description of swiftpoetry.com"/> -->
        <!-- <meta name="twitter:card" content="summary"/> -->
        <link rel="stylesheet" href="../styles/styles.css" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- <link rel="shortcut icon" href="images/favicon.png" type="image/png"/> -->
        <!-- <link rel="alternate" href="feed.rss" type="application/rss+xml" title="Subscribe to swiftpoetry.com"/> -->
    </head>
    <body>
        <div class="container">
            <img 
                alt="{{ page.poem }}"
                src="../images/{{ page.title }}.jpg"
            />
            <div class="footer">
                {% if page.next_poem %}
                <span class="next">
                    <a href="{% unless page.top %}../{% endunless %}{{ page.next_poem }}/">
                        {{ page.next_poem }} (week {{ page.week | plus: 1 }}, {{ page.year }})
                    </a>
                </span>
                {% endif %}
                {% if page.previous_poem %}
                <span class="prev">
                    <a href="{% unless page.top %}../{% endunless %}{{ page.previous_poem }}/">
                        {{ page.previous_poem }} (week {{ page.week | minus: 1 }}, {{ page.year }})
                    </a>
                </span>
                {% endif %}
            </div>
        </div>
    </body>
</html>