---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="google-site-verification" content="VDo0ZSKxndNS06LM4Rtkv9twA_TsZITYOB1qRv3xE5A" />
        <!-- <meta name="og:site_name" content="codepoems.xyz"/> -->
        <link rel="canonical" href="https://codepoems.xyz"/>
        <!-- <meta name="twitter:url" content="https://codepoems.xyz"/> -->
        <!-- <meta name="og:url" content="https://codepoems.xyz"/> -->
        <title>{{ page.title }} | codepoems.xyz</title>
        <!-- <meta name="twitter:title" content="Welcome to SwiftpoetryCom! | swiftpoetry.com"/> -->
        <!-- <meta name="og:title" content="Welcome to SwiftpoetryCom! | swiftpoetry.com"/> -->
        <!-- <meta name="description" content="A description of swiftpoetry.com"/> -->
        <!-- <meta name="twitter:description" content="A description of swiftpoetry.com"/> -->
        <!-- <meta name="og:description" content="A description of swiftpoetry.com"/> -->
        <!-- <meta name="twitter:card" content="summary"/> -->
        <link rel="stylesheet" href="{{ "/styles/styles.css" | absolute_url }}" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- <link rel="shortcut icon" href="images/favicon.png" type="image/png"/> -->
        <!-- <link rel="alternate" href="feed.rss" type="application/rss+xml" title="Subscribe to swiftpoetry.com"/> -->
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="about">
                    <a href="{{ "/" | absolute_url }}about/">about</a>
                </div>
            </div>
            <div class="content">
                {% if page.has_context %}
                <img 
                    class="tuple"
                    alt="{{ page.poem }}"
                    src="{{ "/images/" | absolute_url }}{{ page.title }}.jpeg"
                />
                <img 
                    class="tuple"
                    alt="{{ page.poem }}"
                    src="{{ "/images/" | absolute_url }}{{ page.title }}.context.jpeg"
                />
                {% else %}
                <img 
                    class="single"
                    alt="{{ page.poem }}"
                    src="{{ "/images/" | absolute_url }}{{ page.title }}.jpeg"
                />
                {% endif %}
                <a href="https://github.com/siejkowski/codepoems.xyz/tree/gh-pages/playgrounds/{{ page.title }}.playground"
                   style="display:block; width:50%; height:50%; position:absolute; left: 25%; top: 25%;"></a>
            </div>
            <div class="footer">
                {% if page.next_poem %}
                <div class="next">
                    <a href="{{ "/" | absolute_url }}{{page.next_poem}}">
                        {% if page.next_week %}
                        {{ page.next_poem }} (week {{ page.next_week }}, {{ page.year }})
                        {% else %}
                        {{ page.next_poem }} (week {{ page.week | plus: 1 }}, {{ page.year }})
                        {% endif %}
                    </a>
                </div>
                {% endif %}
                {% if page.previous_poem %}
                <div class="prev">
                    <a href="{{ "/" | absolute_url }}{{page.previous_poem}}">
                        {% if page.previous_week %}
                        {{ page.previous_poem }} (week {{ page.previous_week }}, {{ page.year }})
                        {% else %}
                        {{ page.previous_poem }} (week {{ page.week | minus: 1 }}, {{ page.year }})
                        {% endif %}
                    </a>
                </div>
                {% endif %}
            </div>
            {% if page.comment %}
            <div class="comment">
                <p>Comment:</p>
                <i>{{ page.comment | markdownify }}</i>
            </div>
            {% endif %}
        </div>
    </body>
</html>
