@font-face {
  font-family: JetBrainsMono-Regular;
  src: url('../fonts/JetBrainsMono-Regular.eot');
  src: url('../fonts/JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/JetBrainsMono-Regular.woff2') format('woff2'), 
    url('../fonts/JetBrainsMono-Regular.woff') format('woff'),
    url('../fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    background: rgb(241, 241, 241);
}
.container {
    width: 100%;
    height: 100vh;    
    margin: 0;
}

.header {
    width: 100%;
    height: 3%;
    margin: 0;
    padding-top: 1%;
}

.about {
    text-align: right;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 5%;
}

a {
    color: rgb(88, 88, 88);
    font-family: 'JetBrainsMono-Regular', monospace;
    text-decoration: underline;
    font-size: 95%;
}

.content {
    width: 100%;
    height: 85%;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.footer {
    width: 100%;
    height: 8%;
    margin: 0;
}

.prev {
    text-align: right;
    vertical-align: top;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 5%;
}

.next {
    margin-top: 0;
    margin-left: 5%;
    margin-bottom: 0;
    margin-right: 0;
    text-align: left;
    vertical-align: top;
}

.info {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'JetBrainsMono-Regular', monospace;
    color: rgb(33, 33, 33);
}